# Dataset files
data/GlobalLandTemperatures.csv
data/GlobalLandTemperaturesByCity.csv
data/GlobalLandTemperaturesByCountry.csv
data/GlobalLandTemperaturesByState.csv
data/GlobalLandTemperaturesByMajorCity.csv
data/GlobalTemperatures.csv

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc